*{
    margin: 0;
    padding: 0;
}
body{
    
}
.hide{
    display: none;
}
.wrapper{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(./img/bg_PC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mobile-header{
    display: none;
}
.download{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.download img{
    width: 200px;

}
.chart{
    position: absolute;
    bottom: -5px;
    left: 40px;
}
.text-heading{
    padding-top: 10px;
    text-align: center;
}
.text-heading img{
    width: 300px;

}
.chart img{
    height: 400px;
}

.form{
    background-image: url(./img/khung.png);
    text-align: center;
    margin: 30px auto 10px;
    height: 300px;
    transform: translateX(15px);
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 288px;
}
.btn-wrap{
    display: flex;
    align-items: center;
    transform: translate(-25px, 25px);
    justify-content: center;
    gap: 10px;
}



.btn-dk{
    width: 260px;
    object-fit: contain;
    height: 50px;

}
.btn-dn{
    width: 140px;
    object-fit: contain;
    height: 50px;
}
.btn-dn.active{
    width: 260px;
    object-fit: contain;
    height: 50px;
}
.btn-dk.active{
    width: 140px;
    object-fit: contain;
    height: 50px;
}

.input-wrap{
    position: relative;
}
.input-wrap img{
    position: absolute;

}
.input-wrap input{
    border-radius: 20px;
    border: 1px solid rgb(246, 246, 78);
    outline: none;
    width: 75%;
    padding: 14px 8px;
    padding-left: 40px;
    margin: 0 auto;

}
.input-wrap {
    transform: translateX(-20px);
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}
.input-wrap:nth-child(2){
    margin-top: 30px !important;
}
.input-wrap img{
    position: absolute;
    top: 10px;
    width: 18px;
    left: 63px;
}
.nhanngay{
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

.giaitri{
    text-align: center;
    margin: 30px auto;
    width: 250px;
}
.games-wrap{
    background-image: url(./img/nen\ game.png);
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.games-wrap img{
    transform: translateY(-20px);
    width: 70px;
    transform: translateY(-10px);
}
.logo-mobile{
    display: none;
}
.text-warning{
    display: none;
}
.download-mobile img{
    display: none;       
}
.games-wrap .heading{
    display: none;
}
@media screen and (max-width: 767.98px) {
    body{
        background-size: cover;
        overflow: unset;
    }
    .wrapper{
        background-image: url(./img/BG_mobile.jpg);
        padding-bottom: 200px !important;
        overflow: hidden;
        height: unset;
    }
    .text-heading img{
        width: 270px;
    }
    .form{
        width: 325px;
        transform: translateX(0);
        height: 250px;
    }
    .btn-wrap{
        transform: translate(0px, 7px);
        gap: 5px;
    }
    .input-wrap:nth-child(2){
        margin-top: 35px !important;
    }
    .input-wrap{
        transform: translateY(-30px);
        margin-top: 5px;
    }
    .btn-dn{
        width: 100px;
    }
    .btn-dk{
        width: 180px;
    }
    .btn-dk.active{
        width: 100px;
    }
    .btn-dn.active{
        width: 180px;
    }
    .input-wrap{
        padding:0 18px;
        margin-top: 10px;
    }
    .text-warning:nth-child(2){
        margin-top: 0;
    }
    .input-wrap input{
        width: 80%;
    }
    .input-wrap img{
        top: 6px;
        left: 38px;
        width: 14px;
    }
    .input-wrap input{
        padding: 8px 4px;
        padding-left: 30px;
    }
    
    .logo-mobile{
        margin: 20px auto 0;

        display: block;
    }
    .logo-mobile img{
        width: 160px;
    }
    .download{
        display: none;
    }
    .nhanngay {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-45%);
        width: 200px;
    }
    .text-warning{
        display: block;
        width: 250px;
        margin: 40px auto 0;
    }
    .chart img{
        height: 200px;
    }
    .giaitri{
        display: none;
    }
    .download-mobile img{
        display: block;
        width: 300px;
        margin: 20px auto;
    }
    
    .games-wrap{
        display: flex;
        flex-wrap: wrap;
        width: 120px;
        margin: 70px 0 0 auto;
        margin-left: auto !important;
        gap: 10px;
        right: -32px;
        bottom: 25px;
    }
    
    .games-wrap img{
        width: 50px;
    }
    .games-wrap .heading{
        display: block;
        position: absolute;
        top: -14px;
        transform: translateX(6px);
    }
    .games-wrap .heading img{
        width: 100px;
    }
    .wrapper{
        padding-bottom: 40px;
    }
    .mobile-header{
        background-image: url(./img/header.png);
        position: relative;
        height: 50px;
        background-position: 20px ;
        display: block;
    }
    .mobile-header .icon{
        width: 40px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

@media screen and (min-width: 1500px) {
    .wrapper{
        height: 100vh;
    }
    .form{
        margin-top: 40px;
        width: 617px;
        height: 396px;
        background-size: cover;
    }
    .btn-dk{
        width: 320px;
        height: 100px;
    }
    
    .btn-dn{
        width: 170px;
        height: 100px;

    }
    .btn-dn.active{
        width: 320px;
        height: 100px;

    }
    .btn-dk.active{
        width: 170px;
        height: 100px;
    }
    .input-wrap {
        margin-top: 18px;
        margin-left: 7px;
        transform: translateX(35px);
    }
    .input-wrap input{
        font-size: 22px;
        width: 82%;
    }
    .input-wrap img{
        top: 16px;
    }
    .btn-wrap{
        transform: translate(0, 10px);
    }
    .input-wrap:nth-child(2){
        margin-top: 10px !important;
    }
    .nhanngay{
        width: 415px;
        bottom: -10%;
        transform: translateX(-45%);
    }
    .giaitri{
        margin: 60px auto;
        width: 300px;
    }
    .chart{
        left: 19px;
    }
    .chart img{
        height: 595px;
    }
    .games-wrap img{
        width: 110px;
    }
    .games-wrap{
        gap: 12px;
        transform: translateX(calc(-50% + 30px));
    }
    .text-heading{
        padding-top: 70px;
    }
    .text-heading img {
        width: 565px;
    }
    .text-heading, .form, .giaitri{
        transform: translateX(50px);
    }
}

@media screen and (max-width: 420px) {
    .nhanngay{
        bottom: 10%;
    }
}